<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="PROGRAM_TITLE" value="makkan-8"/>
        <add key="DISPLAY_MULTIPLIER" value="8"/>
        <add key="SUPER_CHIP_PRESENT" value="false"/>
        <add key="RAM_SIZE" value="4096"/>
    </appSettings>
</configuration>